{% extends "emails/base.html" %} {% block content %}
<div class="container">
  <h2 class="approved">Loan Application has been Approved</h2>
  <p>Hi {{ name }},</p>
  <p>
    Congratulations! Your loan application of
    <strong>{{ amount }} RWF</strong> for <strong>{{ loan_type }}</strong> has
    been
    <strong>approved and The requested Money are sent to Your account</strong>.
  </p>
  <p>
    If you have questions regarding this decision, please contact our support
    team.</br>
    <span class="highlight">+250-786-907-897</span>
  </p>
  <p><a href="{{ dashboard_url }}" class="btn">Go to Dashboard</a></p>
  {% if video_url %}
      <div style="margin-top: 20px">
        <h3 style="font-size: 16px; color: #333">🎬 Getting Started Guide</h3>

        <p style="font-size: 14px; color: #555">
          Watch this short onboarding video to learn how to use your account.
        </p>

        <a
          href="{{ video_url }}"
          target="_blank"
          style="
            display: inline-block;
            padding: 10px 15px;
            background: #2563eb;
            color: #fff;
            border-radius: 6px;
            text-decoration: none;
            font-weight: 500;
          "
        >
          ▶ Watch Getting Started Video
        </a>
      </div>
      {% endif %}
</div>
{% endblock %}
