{% extends "emails/base.html" %} {% block content %}
<div class="container">
  <h2 class="rejected">Loan Application Rejected</h2>
  <p>Hi {{ name }},</p>
  <p>
    We regret to inform you that your loan application of
    <strong>{{ amount }} RWF</strong> for <strong>{{ loan_type }}</strong> has
    been <strong>rejected</strong>.
  </p>
  {% if reason %}
  <p><strong>Reason for Rejection:</strong> {{ reason }}</p>
  {% endif %}
  <p>
    If you have questions regarding this decision, please contact our support
    team.</br>
    <span class="highlight">+250-786-907-897</span>
  </p>
  <p><a href="{{ dashboard_url }}" class="btn">Go to Dashboard</a></p>
</div>
{% endblock %}
