<!-- templates/emails/loan_defaulted.html -->

{% extends "emails/base.html" %} {% block content %}

<div class="title" style="color: #991b1b">Loan Default Notice</div>

<p class="text">
  Dear {{ client_name }}, your loan has been marked as DEFAULTED due to
  non-payment after the grace period.
</p>

<div class="card">
  <div class="row">
    <span class="label">Loan ID:</span>
    <span class="value"> #{{ loan_id }}</span>
  </div>

  <div class="row">
    <span class="label">Due Date:</span>
    <span class="value"> {{ due_date }}</span>
  </div>

  <div class="row">
    <span class="label">Days Overdue:</span>
    <span class="value"> {{ days_overdue }} days</span>
  </div>

  <div class="row">
    <span class="label">Penalty Balance:</span>
    <span class="value"> {{ penalty }} RWF</span>
  </div>

  <div class="row">
    <span class="label">Total Outstanding Balance:</span>
    <span class="value"> {{ balance }} RWF</span>
  </div>

  <div class="row">
    <span class="label">Momo:</span>
    <span class="value">1429075</span>
  </div>

  <div class="row">
    <span class="label">Name:</span>
    <span class="value">Kigali MicroLoans Ltd</span>
  </div>
</div>

<p class="text">
  This Loan is now under defaulted status. Please pay the Loan immediately to
  avoid further legal or recovery actions.
</p>

<a href="{{ payment_url }}" class="button" style="background: #991b1b">
  Settle Debt Now
</a>

{% endblock %}
