<!-- templates/emails/loan_overdue_grace.html -->

{% extends "emails/base.html" %} {% block content %}

<div class="title" style="color: #f59e0b">Grace Period Warning</div>

<p class="text">
  Dear {{ client_name }}, your loan payment is still overdue and is now within
  the grace period.
</p>

<div class="card">
  <div class="row">
    <span class="label">Loan ID:</span>
    <span class="value"> #{{ loan_id }}</span>
  </div>

  <div class="row">
    <span class="label">Due Date:</span>
    <span class="value"> {{ due_date }}</span>
  </div>

  <div class="row">
    <span class="label">Grace Days Remaining:</span>
    <span class="value"> {{ remaining_grace_days }} days</span>
  </div>

  <!-- <div class="row">
    <span class="label">Current Penalty:</span>
    <span class="value"> {{ penalty }} RWF</span>
  </div> -->

  <div class="row">
    <span class="label">Total Balance:</span>
    <span class="value"> {{ balance }} RWF</span>
  </div>

  <div class="row">
    <span class="label">Momo:</span>
    <span class="value">1429075</span>
  </div>

  <div class="row">
    <span class="label">Name:</span>
    <span class="value">Kigali MicroLoans Ltd</span>
  </div>
</div>

<p class="text">
  Please complete your payment before the grace period ends to avoid default
  status and additional penalties.
</p>

<a href="{{ payment_url }}" class="button" style="background: #f59e0b">
  Pay Now
</a>
<p>
    If you have questions regarding this decision, please contact our support
    team.</br>
    <span class="highlight">+250-786-907-897</span>
  </p>

{% endblock %}
