<!-- templates/emails/loan_reminder.html -->
{% extends "emails/base.html" %} {% block content %}

<div class="title">Loan Repayment Reminder</div>

<p class="text">
  Dear {{ client_name }}, this is a reminder that your loan repayment is
  approaching.
</p>

<div class="card">
  <div class="row">
    <span class="label">Loan ID:</span>
    <span class="value"> #{{ loan_id }}</span>
  </div>

  <div class="row">
    <span class="label">Due Date:</span>
    <span class="value"> {{ due_date }}</span>
  </div>
<div class="row">
    <span class="label">Loan Taken:</span>
    <span class="value"> {{ loan_taken }}</span>
  </div>
  <div class="row">
    <span class="label">Loan Interest:</span>
    <span class="value"> {{ loan_interest }}</span>
  </div>
  <div class="row">
    <span class="label">Remaining Balance:</span>
    <span class="value"> {{ balance }} RWF</span>
  </div>
  <div class="row">
    <span class="label">Momo:</span>
    <span class="value">1429075</span>
  </div>
  <div class="row">
    <span class="label">Name:</span>
    <span class="value">Kigali MicroLoans Ltd</span>
  </div>
  <div class="row">
    <span class="label text">Please Pay Before: </span>
    <span class="value text"> {{ last_payment_date }} to Avoid Penalties</span>
  </div>
</div>

<p class="text">Please ensure timely repayment to avoid penalties.</p>

<a href="{{ payment_url }}" class="button"> Make Payment </a>
<p>
    If you have questions regarding this decision, please contact our support
    team.</br>
    <span class="highlight">+250-786-907-897</span>
  </p>
  {% if video_url %}
      <div style="margin-top: 20px">
        <h3 style="font-size: 16px; color: #333">🎬 Getting Started Guide</h3>

        <p style="font-size: 14px; color: #555">
          Watch this short onboarding video to learn how to use your account.
        </p>

        <a
          href="{{ video_url }}"
          target="_blank"
          style="
            display: inline-block;
            padding: 10px 15px;
            background: #2563eb;
            color: #fff;
            border-radius: 6px;
            text-decoration: none;
            font-weight: 500;
          "
        >
          ▶ Watch Getting Started Video
        </a>
      </div>
      {% endif %}
{% endblock %}
